/*panel*/
.panel {
    border: none;
    box-shadow: none;
}

.panel-heading {
    border-color:#eff2f7 ;
    font-size: 13px;
    font-weight: 400;
    background: #fafafa;
    text-transform: uppercase;
    padding: 15px;
}

.panel-title {
    color: #32323A;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 0;
    font-family: 'Open Sans', sans-serif;
}

.panel-primary .tools a {
    color: #fff;
}